# Nothing in this list may ever end up in a zip, a commit or an e-mail.
android/key.properties
*.jks
*.keystore

.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.gradle/
android/local.properties
android/.gradle/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
